
<app-breadcrumb [breadcrumb]="breadcrumbs"></app-breadcrumb>
<h1>{{product.name}}</h1>
<h3><app-price [price]="product.price"></app-price> / {{product.qty_type}}</h3>
<p>{{product.description}}</p>
<div class="row">
  <div class="col-sm-6">
    
    <input type="number" min="1" name="qty" id="qty" [(ngModel)]="qty" class="form-control">
    <span i18n>{{product.stock}} {product.stock, plural, =0 {{{product.qty_type}}} =1 {{{product.qty_type}}} other {{{product.qty_type}}s}} available</span>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary" type="button" id="btnAddToCart" (click)="addToCart(product)">Add to cart</button>
  </div>
</div>


