<form [formGroup]="form" (ngSubmit)="submit(form.value)" class="py-5" novalidate>
  <div class="form-group">
    <label>Delivery State</label>
    <select formControlName="state" id="state" class="form-control" (change)="getPickupCenter($event)">
      <option value="">- Select State -</option>
      <option *ngFor="let state of states; let i= index" [value]="state.id">
        {{state.name}}
      </option>
    </select>

    <div *ngIf="form.controls['state'].invalid &&
      (form.controls['state'].dirty || form.controls['state'].touched)"
      class="alert alert-danger">
      <div *ngIf="form.controls['state'].errors.required">
        Delivery state is required.
      </div>
    </div>
  </div>


  <div class="form-group">
    <label>Select Pickup Center</label>
    <select formControlName="pickup_center" id="pickup_center" class="form-control">
      <option value="">- Pickup Center -</option>
      <option *ngFor="let center of centers; let i= index" [value]="center.id">
        {{center.location}}
      </option>
    </select>

    <div *ngIf="form.controls['pickup_center'].invalid &&
      (form.controls['pickup_center'].dirty ||
      form.controls['pickup_center'].touched)"
      class="alert alert-danger">
      <div *ngIf="form.controls['pickup_center'].errors.required">
        Pickup center is required.
      </div>
    </div>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-primary"
    [disabled]="form.pristine || form.invalid" id="btnDelivery">Submit</button>
  </div>
</form>
