<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" novalidate>

  <div class="form-group">
    <label class="col-md-4">Full Name</label>
    <input type="text" class="form-control"
      formControlName="name"
      #name />
  </div>
  <div *ngIf="registerForm.controls['name'].invalid &&
    (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)"
    class="alert alert-danger">
    <div *ngIf="registerForm.controls['name'].errors.required">
        Name is required.
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4">Phone Number</label>
    <input type="number" class="form-control"
      formControlName="phone"
      #phone />
  </div>
  <div *ngIf="registerForm.controls['phone'].invalid &&
    (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)"
    class="alert alert-danger">
    <div *ngIf="registerForm.controls['phone'].errors.required">
      Phone number is required.
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4">Email address</label>
    <input type="email" class="form-control"
      formControlName="email"
      #email />
  </div>
  <div *ngIf="registerForm.controls['email'].invalid &&
    (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
    class="alert alert-danger">
    <div *ngIf="registerForm.controls['email'].errors.required">
        Email address is required.
    </div>
  </div>

  <div class="form-group">
      <label class="col-md-4">Password</label>
      <input type="password" class="form-control"
        formControlName="password"
        #password />
    </div>
    <div *ngIf="registerForm.controls['password'].invalid &&
      (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
      class="alert alert-danger">
      <div *ngIf="registerForm.controls['password'].errors.required">
          Password is required.
      </div>
    </div>


  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="btnRegister"
      [disabled]="registerForm.pristine || registerForm.invalid">
      Submit
    </button>
  </div>
</form>
