<app-breadcrumb [breadcrumb]="breadcrumbs"></app-breadcrumb>

<div class="row" *ngIf="setDefault === false">
  <div class="col-sm-5">
    <app-cart-summary [cart]="cart"></app-cart-summary>
  </div>
  <div class="col-sm-7">
    <router-outlet></router-outlet>
  </div>
</div>

<app-cart-summary *ngIf="setDefault === true" [cart]="cart"></app-cart-summary>
