<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
  <div class="form-group">
    <label class="col-md-4">Email address</label>
    <input type="email" class="form-control"
      formControlName="email"
      #email />
  </div>
  <div *ngIf="loginForm.controls['email'].invalid &&
    (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
    class="alert alert-danger">
    <div *ngIf="loginForm.controls['email'].errors.required">
      Email address is required.
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4">Password</label>
    <input type="password" class="form-control"
      formControlName="password"
      #password />
  </div>
  <div *ngIf="loginForm.controls['password'].invalid &&
    (loginForm.controls['password'].dirty ||
    loginForm.controls['password'].touched)"
    class="alert alert-danger">
    <div *ngIf="loginForm.controls['password'].errors.required">
      Password is required.
    </div>
  </div>

  <div>
    <a routerLink="/account/forgot-password">
      Forgot Password
    </a>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-primary"
      [disabled]="loginForm.pristine || loginForm.invalid">
      Login
    </button>
  </div>
</form>
