<div *ngIf="products" class="row">

  <div *ngFor="let product of products; let i= index" class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <a routerLink="/product/{{product.slug}}">
          <p class="card-title">{{product.name}}</p>
          <p class="card-text"><app-price [price]="product.price"></app-price></p>
        </a>
      </div>
    </div>
  </div>



</div>
