<table class="table" *ngIf="carts">

  <thead>
    <tr>
      <th>Product</th>
      <th class="text-right">Total</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cart of carts; let i= index">
      <td>
        {{cart.name}}<br/>
          <small>
            <app-price [price]="cart.price"></app-price>
            <span *ngIf="cart.sales === 1" style="text-decoration: line-through;
              color: #999999; display: inline-block; margin-left: 7px">
              <app-price [price]="cart.actual_price"></app-price>
            </span>
          </small>

        </td>
        <td class="text-right"><app-price [price]="cart.price * cart.qty"></app-price></td>
      </tr>
    </tbody>

  </table>

  <hr/>

    <form *ngIf="setDefault === true" [formGroup]="form_discount"
      (ngSubmit)="submit_discount(form_discount.value)" novalidate>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Discount Code"
            formControlName="discount_code">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="btnApplyDiscount"
              type="submit">Apply</button>
          </div>
        </div>
        <div *ngIf="form_discount.controls['discount_code'].invalid &&
          (form_discount.controls['discount_code'].dirty ||
          form_discount.controls['discount_code'].touched)"
          class="alert alert-danger">
          <div *ngIf="form_discount.controls['discount_code'].errors.required">
            Discount code required.
          </div>
        </div>
      </div>


    </form>

    <hr/>
      <div class="py-2">
        Sub total: <app-price [price]="subTotal"></app-price><br/>
          Discount: <app-price [price]="discountTotal"></app-price><br/>
            Total: <app-price [price]="total"></app-price>
          </div>



      <div class="form-group" *ngIf="setDefault === true">
          <textarea type="text" class="form-control" placeholder="Order comment"
          rows="4" [(ngModel)]="orderComment"></textarea>
      </div>

          <button *ngIf="setDefault === true" class="btn btn-primary"
            type="button" id="btnContinue" (click)="submit_continue()">Continue</button>
