<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<!-- <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="product/create" class="nav-link" routerLinkActive="active">
          Create Product
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active">
          Products
        </a>
      </li>
    </ul>
  </div>
</nav> -->


<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a routerLink="products" class="nav-link" routerLinkActive="active">Products</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Categories</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a *ngFor="let category of categories; let i= index"
          class="dropdown-item"
          routerLink="/products" [queryParams]="{category: category.slug }">{{category.name}}</a>
      </div>
    </li>

  </ul>
  <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="user">
          <a class="nav-link">{{user.name}}</a></li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Account</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/account">Account</a>
        <a class="dropdown-item" routerLink="/account/login">Login</a>
        <a class="dropdown-item" routerLink="/account/register">Register</a>
        <a *ngIf="user" (click)="logout()" href="javasript:void()" class="dropdown-item">Logout</a>
        <!-- <button *ngIf="user" (click)="logout" class="dropdown-item">Logout</button> -->
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"> Cart ({{cartCount}})</a>
      <div class="dropdown-menu dropdown-menu-right"
        aria-labelledby="navbarDropdown">
        <div class="dropdown-item" *ngFor="let cart of carts; let i= index">
          {{cart.name}} <br/>
            {{cart.qty}} x <app-price [price]="cart.price * cart.qty"></app-price>
          </div>
          <div class="dropdown-item">
            <a class="btn btn-primary btn-sm" routerLink="/carts"
              style="margin-right: 10px">Go to cart</a>
            <a (click)="checkout" class="btn btn-primary btn-sm" routerLink="/checkout">Checkout</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <div class="container py-5">
    <router-outlet></router-outlet>
  </div>
