<form [formGroup]="form" (ngSubmit)="submit(form.value)" novalidate>
    <div class="form-group">
      <label class="col-md-4">Email address</label>
      <input type="email" class="form-control"
        formControlName="email"
        #email />
    </div>
    <div *ngIf="form.controls['email'].invalid &&
      (form.controls['email'].dirty || form.controls['email'].touched)"
      class="alert alert-danger">
      <div *ngIf="form.controls['email'].errors.required">
        Email address is required.
      </div>
    </div>




    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="btnForgotPassword"
        [disabled]="form.pristine || form.invalid">
        Reset Password
      </button>
    </div>
  </form>
