<form [formGroup]="form" (ngSubmit)="submit(form.value)" class="py-5" novalidate>


    <div class="form-group">
        <label >Current Password</label>
        <input type="password" class="form-control"
          formControlName="current_password"
          #current_password />
      </div>
      <div *ngIf="form.controls['current_password'].invalid &&
        (form.controls['current_password'].dirty || form.controls['current_password'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['current_password'].errors.required">
            Current Password is required.
        </div>
      </div>

      <div class="form-group">
          <label >New Password</label>
          <input type="password" class="form-control"
            formControlName="new_password"
            #new_password />
        </div>
        <div *ngIf="form.controls['new_password'].invalid &&
          (form.controls['new_password'].dirty || form.controls['new_password'].touched)"
          class="alert alert-danger">
          <div *ngIf="form.controls['new_password'].errors.required">
              New Password is required.
          </div>
        </div>

      <div class="form-group">
          <label >Confirm New Password</label>
          <input type="password" class="form-control"
            formControlName="confirm_new_password"
            #confirm_new_password />
        </div>
        <div *ngIf="form.controls['confirm_new_password'].invalid &&
          (form.controls['confirm_new_password'].dirty || form.controls['confirm_new_password'].touched)"
          class="alert alert-danger">
          <div *ngIf="form.controls['confirm_new_password'].errors.required">
              Confirm New Password is required.
          </div>
        </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="btnChangePassword"
        [disabled]="form.pristine || form.invalid">
        Submit
      </button>
    </div>
  </form>
