<form [formGroup]="form" (ngSubmit)="submit(form.value)" class="py-5" novalidate>
  <div class="form-group">
    <label class="col-md-4">Full Name</label>
    <input type="text" class="form-control"
      formControlName="name"
      #name />
  </div>
  <div *ngIf="form.controls['name'].invalid &&
    (form.controls['name'].dirty || form.controls['name'].touched)"
    class="alert alert-danger">
    <div *ngIf="form.controls['name'].errors.required">
      Name is required.
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4">Phone Number</label>
    <input type="number" class="form-control"
      formControlName="phone"
      #phone />
  </div>
  <div *ngIf="form.controls['phone'].invalid &&
    (form.controls['phone'].dirty || form.controls['phone'].touched)"
    class="alert alert-danger">
    <div *ngIf="form.controls['phone'].errors.required">
      Phone number is required.
    </div>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="btnEditInfo">Submit</button>
  </div>
</form>
