<app-breadcrumb [breadcrumb]="breadcrumbs"></app-breadcrumb>

<table class="table">

  <thead>
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th>Unit Price</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cart of carts; let i= index">
      <td>{{cart.name}}</td>
      <td>
        <input type="number" min="1" value="{{cart.qty}}"
          (keydown.enter)="updateCart()" (change)="updateQty(cart.id, $event)"
          (keyup)="updateQty(cart.id, $event)" class="form-control" />
      </td>
      <td>
        <app-price [price]="cart.price"></app-price>
        <div *ngIf="cart.sales === 1" style="text-decoration: line-through;
          color: #f9f9f9">
          <app-price [price]="cart.actual_price"></app-price>
        </div>
      </td>
      <td><app-price [price]="cart.price * cart.qty"></app-price></td>
      <td>
        <a class="btn btn-sm btn-default" type="button" id="btnDeleteCart"
          (click)="deleteCart(cart.id)">Delete</a>
      </td>
    </tr>
  </tbody>

</table>

<hr/>

  <!-- <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Discount Code"
      aria-label="Recipient's username" [(ngModel)]="discountCode"
      aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Apply</button>
    </div>
  </div>

  <hr/> -->

    <div class="py-2">
      Sub total: <app-price [price]="subTotal"></app-price><br/>
        Discount: <app-price [price]="discountTotal"></app-price><br/>
          Total: <app-price [price]="total"></app-price>
        </div>

        <hr/>

          <button class="btn btn-primary" type="button" id="btnUpdateCart"
            style="margin-right: 10px"
            (click)="updateCart()">Update Cart</button>

          <button class="btn btn-primary" type="button" id="btnCheckout"
            routerLink="/checkout">Checkout</button>
